<template>
    <video
        ref="video"
        autoplay
        loop
        muted
        :poster="`/videos/_snapshots/${link}.jpg`">
        <source
            :src="`/videos/mp4/${link}.mp4`"
            type="video/mp4">
        <source
            :src="`/videos/mp4/${link}.webm`"
            type="video/webm">
        <source
            :src="`/videos/mp4/${link}.ogv`"
            type="video/ogg">
    </video>
</template>

<script>
    export default {
        name: 'CoverVideo',
        props: {
            link: {
                type: String,
                required: true
            }
        },
        methods: {
            resize() {
                const w = Math.max( document.documentElement.clientWidth, window.innerWidth || 0 );
                const h = Math.max( document.documentElement.clientHeight, window.innerHeight || 0 );
            }
        },
        mounted() {
            window.addEventListener( 'resize', this.resize );
        },
        beforeDestroy() {
            window.removeEventListener( 'resize', this.resize );
        }
    };
</script>

<style scoped>
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -999;
        object-fit: cover;
    }
</style>
