@charset "UTF-8";

@font-face {
    font-family: "Eadar";
    src: url("~assets/fonts/eadar.eot");
    src: url("~assets/fonts/eadar.eot?#iefix") format("embedded-opentype"),
    url("~assets/fonts/eadar.woff") format("woff"),
    url("~assets/fonts/eadar.ttf") format("truetype"),
    url("~assets/fonts/eadar.svg#eadar") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "Eadar", sans-serif;
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "Eadar", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
    content: "\61";
}
