// Normalizer
@import "~normalize-scss/sass/normalize/import-now";
/* - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- - -- */
// Variables and mixins
@import "variables";
@import "mixins";
@import "fonts";

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow: hidden;
}
