<template>
    <section>
        <form @submit.stop.prevent="login">
            <div
                class="input-box"
                :class="{'active': buffer.focus === 'uid' || form.uid.value.length}">
                <label>{{ $t('auth.uid') }}</label>
                <input
                    @focus="focusInput"
                    @blur="blurInput"
                    v-validate="'required|uid'"
                    v-model.trim="uid"
                    name="uid"
                    type="text"
                    title="Enter your handle">
                <div
                    v-show="form.uid.edited"
                    class="notice">{{ errors.first('uid') }}
                </div>
                <a
                    @click="eraseInput"
                    class="erase"
                    v-show="form.uid.value.length">
                    <i class="fal fa-times-circle"></i>
                </a>
            </div>
            <div
                class="input-box"
                :class="{'active': buffer.focus === 'password' || form.password.value.length}">
                <label>{{ $t('auth.password') }}</label>
                <input
                    @focus="focusInput"
                    @blur="blurInput"
                    v-validate="'required|password'"
                    v-model.trim="form.password.value"
                    name="password"
                    type="password"
                    title="Enter your password">
                <div
                    v-show="form.password.edited"
                    class="notice">{{ errors.first('password') }}
                </div>
                <a
                    @click="eraseInput"
                    class="erase"
                    v-show="form.password.value.length">
                    <i class="fal fa-times-circle"></i>
                </a>
            </div>
            <button
                type="submit"
                :disabled="!buffer.formIsValid">
                Se connecter
            </button>
        </form>
    </section>
</template>

<script>
    export default {
        layout: 'login',
        middleware: [
            'is_authenticated' // If already authenticated, redirect to home
        ],
        data() {
            return {
                form: {
                    uid: {
                        value: '',
                        edited: false
                    },
                    password: {
                        value: '',
                        edited: false
                    }
                },
                buffer: {
                    formIsValid: false,
                    focus: null
                }
            };
        },
        head() {
            return {
                title: `Login`
            };
        },
        computed: {
            uid: {
                get() {
                    return this.form.uid.value;
                },
                set( newValue ) {
                    this.form.uid.value = newValue.toLowerCase();
                }
            }
        },
        methods: {
            focusInput( elm ) {
                this.buffer.focus = elm.currentTarget.name;
            },
            blurInput( elm ) {
                this.buffer.focus = null;
                this.$set( this.form[ elm.currentTarget.name ], 'edited', true );
            },
            eraseInput( elm ) {
                this.$set( this.form[ elm.currentTarget.parentNode.querySelector( 'input' ).name ], 'value', '' );
            },
            login() {

                this.$axios.post( '/auth/login', {
                    uid: this.form.uid.value,
                    password: this.form.password.value
                } ).then( response => {

                    this.$store.commit( 'auth/setToken', response.data.token );
                    this.$store.commit( 'auth/setAuthenticated', true );
                    this.$nuxt.$router.replace( { path: '/' } );

                } ).catch( err => {

                    // ERROR

                } );

            }
        },
        watch: {
            form: {
                handler( val ) {
                    this.$validator.validateAll().then( result => {
                        this.buffer.formIsValid = result;
                    } ).catch( err => {
                        throw Error( err );
                    } );
                },
                deep: true
            }
        }
    };
</script>

<style lang="scss" scoped>

    section {
        height: calc(100% - #{$login--nav-height});
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        max-height: 600px;
        font-family: Oxygen, sans-serif;

        > form {
            max-width: 400px;
            width: 100%;
            margin: 50px;

            > .input-box {
                height: 80px;
                position: relative;
                width: calc(100% - 40px);
                margin: auto;

                > label {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;

                    color: #a8b9bc;
                    font-size: 1rem;
                    text-transform: uppercase;

                    pointer-events: none;
                    cursor: text;
                    user-select: none;

                    transition: 200ms;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 0;
                        left: -20px;

                        content: '';
                        background-color: #a8b9bc;
                        height: 100%;
                        width: 1px;
                        transition: 200ms;
                    }

                    &::after {
                        left: unset;
                        right: -20px;
                    }
                }

                > input {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    width: 100%;
                    border: 0;
                    padding-right: 25px;
                    box-sizing: border-box;

                    font-size: 1.125rem;
                    color: #FFF;
                    background-color: transparent;

                }

                > div.notice {
                    position: absolute;
                    top: 80%;
                    transform: translateY(-50%);

                    color: #ff5c5c;
                    font-size: 0.7rem;
                    user-select: none;
                }

                > a.erase {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);

                    color: #a8b9bc;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover, &:focus, &:active {
                        color: #FFF;
                    }
                }

                &.active {
                    > label {
                        font-size: 0.7rem;
                        top: 20%;

                        &::before {
                            transform: rotate(90deg);
                        }

                        &::after {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            > button[type="submit"] {
                width: 100%;
                padding: 10px;
                margin-top: 20px;
                border: none;
                box-shadow: none;
                background-color: #ffffff80;
                background: repeating-linear-gradient(
                        45deg,
                        rgba(255, 255, 255, 0.5),
                        rgba(255, 255, 255, 0.5) 10px
                );
                color: #496467;
                font-family: Oxygen, sans-serif;
                transition: 200ms;
                cursor: pointer;

                &:hover, &:active, &:focus {
                    background-color: rgba(220, 220, 220, 0.5);
                }

                &[disabled] {
                    background: repeating-linear-gradient(
                            45deg,
                            rgba(255, 255, 255, 0.4),
                            rgba(255, 255, 255, 0.4) 10px,
                            rgba(255, 255, 255, 0.3) 10px,
                            rgba(255, 255, 255, 0.3) 20px
                    );
                }
            }
        }
    }
</style>
