<template>
    <section>
        Disconnection in progress...
    </section>
</template>

<script>
    export default {
        layout: 'blank',
        created() {
            this.$auth.logout();
        }
    };
</script>

<style lang="scss" scoped>
    section {
        padding: 10px;
    }
</style>
