<template>
    <div id="dashboard">

        <!-- \/ Sidebar -->
        <sidebar class="sidebar"/>
        <!-- /\ Sidebar -->

        <!-- \/ Barre de navigation -->
        <nav class="barre-navigation">Navigation</nav>
        <!-- /\ Barre de navigation -->

        <!-- \/ Contenu de la page -->
        <main class="contenu-page">
            <nuxt/>
        </main>
        <!-- /\ Contenu de la page -->

    </div>
</template>

<script>

    import Sidebar from '~/components/structure/Sidebar.vue';

    export default {
        components: {
            Sidebar
        }
    };

</script>

<style lang="scss" scoped>

    #dashboard {
        height: 100vh;
        display: grid;
        grid-auto-flow: row;
        grid-template-areas: "sidebar barre-navigation" "sidebar contenu-page";
        grid-template-columns: auto 1fr;
        grid-gap: 0;
        background-color: cornflowerblue;

        > .sidebar {
            grid-area: sidebar;
        }

        > nav.barre-navigation {
            grid-area: barre-navigation;
        }

        > main.contenu-page {
            grid-area: contenu-page;
        }
    }

</style>

