<template>
    <div id="login">
        <cover-video link="working-space"/>
        <nav>
            <div ref="left">
                <ul>
                    <li>
                        <nuxt-link to="/"><i class="fal fa-chevron-left"></i><span>{{ $t('nav.back_to_home') | capitalize }}</span></nuxt-link>
                    </li>
                </ul>
            </div>
            <div ref="right">
                <ul>
                    <li>
                        <nuxt-link to="/">{{ $t('auth.not_yet_member') | capitalize }} ?</nuxt-link>
                    </li>
                </ul>
            </div>
        </nav>
        <nuxt/>
    </div>
</template>

<script>
    import CoverVideo from '~/components/medias/CoverVideo.vue';

    export default {
        components: {
            CoverVideo
        }
    };
</script>

<style lang="scss" scoped>

    #login {
        height: 100vh;
        background: rgba(66, 93, 96, 0.9);
        background: linear-gradient(135deg, rgba(66, 93, 96, 0.9), rgba(99, 138, 140, 0.9));
        font-family: Oxygen, sans-serif;
        overflow: auto;

        > nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $login--nav-height;
            z-index: 1;

            > div > ul {
                list-style: none;
                padding: 0;
                margin: 0;

                > li > a {
                    display: grid;
                    align-items: center;
                    grid-auto-flow: column;
                    grid-gap: 10px;

                    color: #FFF;
                    font-size: 0.875rem;
                    text-decoration: none;
                    padding: 15px;

                    &:hover, &:focus, &:active {
                        color: #d7d7d7;
                    }

                    > svg {
                        font-size: 0.75rem;
                    }

                    > span {
                        padding: 0 0 1px 0;
                    }
                }
            }
        }
    }

</style>
