<template>
    <section>
        <h1>Loaded from the {{ name }}</h1>
        <div>
            <nuxt-link
                to="/auth/login"
                v-if="!$store.state.auth.authenticated">login
            </nuxt-link>
            <nuxt-link
                to="/auth/logout"
                v-else>logout
            </nuxt-link>
        </div>
    </section>
</template>

<script>
    export default {
        layout: 'dashboard',
        asyncData( { req } ) {
            return {
                name: req ? 'server' : 'client'
            };
        },
        head() {
            return {
                title: `About Page (${this.name}-side)`
            };
        }
    };
</script>

<style lang="scss" scoped>

</style>

