<template>
    <aside class="sidebar--container">
        SIDEBAR
    </aside>
</template>

<script>
    export default {
        name: 'Sidebar'
    };
</script>

<style lang="scss" scoped>

    aside.sidebar--container {
        display: grid;
        grid-auto-flow: row;
        grid-template-areas: "logo";
        justify-items: center;

        width: map_get($sidebar, 'width');
        background-color: get-color('light', 'white');

        > .logo {
            padding: map_get($sidebar, 'width') / 4;
        }
    }

</style>
